@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
/*Reset do CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Configurações gerais */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Mozilla Headline";
}

header {
  background: linear-gradient(rgb(44, 29, 104), rgba(255, 0, 0, 0.61)); 
  color: azure;
  padding: 60px;
  text-align: center;
}

about-section {
  display: block;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 50px;
}

main {
  background-color: rgb(197, 196, 196);
  flex: 1;
  padding: 48px 38px;
  width: 100%;
}

#titulo-sobre-mim {
  font-size: 30px;
  border-bottom: 2px solid rgb(140, 163, 238);
}

.texto-sobre-mim {
  font-size: 20px;
}

meus-hobbies {
  display: block;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 12px;
}

li {
  background-color: rgb(212, 212, 212);
  padding: 12px;
  border-left: 4px solid rgb(92, 92, 92);
  font-size: 15px;
  min-width: 250px;
}

#titulo-hobbies {
  font-size: 30px;
}

li:hover {
  background-color: rgb(138, 138, 139);
  transform: translateX(5px);
  transition: all 0.3s ease;
}

#titulo-hobbies {
  font-size: 30px;
  border-bottom: 2px solid rgb(140, 163, 238);
  margin-bottom: 20px;
}